name: Promote charm

on:
  workflow_dispatch:
    inputs:
      from-risk:
        description: Promote from this Charmhub risk
        required: true
        type: choice
        options:
          - edge
          - beta
          - candidate
      to-risk:
        description: Promote to this Charmhub risk
        required: true
        type: choice
        options:
          - beta
          - candidate
          - stable

jobs:
  promote:
    name: Promote charm
    uses: canonical/data-platform-workflows/.github/workflows/_promote_charm_legacy.yaml@v42.0.0
    with:
      track: 'latest'
      from-risk: ${{ inputs.from-risk }}
      to-risk: ${{ inputs.to-risk }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write  # Needed to edit GitHub releases
  trigger-release-ci:
    # only on candidate promotion
    if: ${{ inputs.to-risk == 'candidate' }}
    name: Trigger release CI
    runs-on: ubuntu-latest
    needs: promote
    steps:
      - name: Trigger Airflow DAG
        run: |
          curl -X POST \
            "https://airflow.data-platform.ps7.canonical.com/api/v2/dags/release_test/dagRuns" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ secrets.AIRFLOW_API_TOKEN }}" \
            -d '{
              "dag_run_id": "promote-${{ github.run_id }}",
              "conf": {
                "charm": "test-release",
                "version": "${{ github.ref_name }}"
              }
            }'
